<footer class="site-footer">

  <div class="footer-main">
    <!-- Columna 1: Solo logo -->
    <div class="footer-col logo-col">
      <img id="FMLogo" src="LETRAS_LOGO_editado-removebg-preview.png" alt="FM Logo" class="footer-logo">
    </div>

    <!-- Columna 2: Solo About -->
    <div class="footer-col about-col">
      <h2 id="h2Main">ABOUT US</h2>
      <p id="textoLorem">
        Proyecto de final de módulo hecho por Hristiyan Trayanov.
        Este consta de una página web de gestión de gastos familiares.
      </p>
    </div>

    <!-- Columna 3: Información -->
    <div class="footer-col info-col">
      <h3>Información</h3>
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contactanos</a></li>
      </ul>
    </div>

    <!-- Columna 4: Contacto -->
    <div class="footer-col contact-col">
      <h3>Contacto</h3>
      <ul>
        <li><i class="fas fa-phone"></i> 000 000 000</li>
        <li><i class="fas fa-envelope"></i> info&#64;FamilyManager.com</li>
        <li><i class="fas fa-map-marker"></i> Dirección Postal</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <a href="#">Aviso Legal</a>
    <a href="#">Política de Privacidad</a>
  </div>
</footer>
