/* src/app/componentes_grupo/crear-grupo/crear-grupo.component.css */

/* Contenedor completo con imagen de fondo y overlay */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  padding: 20px;

  /* Imagen de fondo */
  background-image: url('../../../../public/reunion.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;  /* para el overlay */
  overflow: hidden;    /* que no sobresalga el blur */
}

/* Overlay oscuro + blur */
.container::before {
 content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4);
}

/* Aseguramos que todo el formulario quede encima del overlay */
.login-box,
h2,
.input-group,
.alert,
.image-section,
.image-section2,
#fotoHeader {
  position: relative;
  z-index: 1;
}


/* ================================
   Basado en change-password.component.css
   ================================ */

.login-box {
  padding: 30px;
  width: 100%;
  max-width: 400px;
  background-color: var(--color_fondo);
  border: 1px solid black;
  border-radius: 25px;
}

h2 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 25px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  background-color: var(--button_login);
  color: white;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.login-button:hover {
  background-color: var(--button_login_hover);
}

.cancel {
  background-color: red;
}
.cancel:hover {
  background-color: rgb(202, 1, 1);
}

.invalid-feedback {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}

.alert {
  margin-top: 10px;
  text-align: center;
}

.image-section,
.image-section2 {
  text-align: center;
}

.image-section {
  margin-top: 20px;
}

.image-section2 {
  display: none;
  margin-top: 20px;
}

#fotoHeader {
  width: 400px;
}

/* Responsive */
@media (min-width: 900px) {
  .container {
    flex-direction: row;
    height: 75vh;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
    height: 80vh;
  }
  .login-box {
    border: none;
  }
  .image-section2 {
    display: block;
  }
  .image-section {
    display: none;
  }
}

@media (max-width: 600px) {
  .container {
    height: 60vh;
    padding: 15px;
  }
  .login-button {
    font-size: 14px;
    padding: 8px;
  }
}
